# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\apm03\Documents\Programming\Java\JavaFX GUI Messaging App\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/dataSources/e72ff7ff-96d8-4cdd-ace1-eacf8071a49b/storage_v2/_src_/database/ChatDatabase.E4XArQ/schema/dbo.sYMBAA.meta
/dataSources/e72ff7ff-96d8-4cdd-ace1-eacf8071a49b/storage_v2/_src_/database/ChatDatabase.E4XArQ/schema/dbo.sYMBAA.zip
/dataSources/e72ff7ff-96d8-4cdd-ace1-eacf8071a49b/storage_v2/_src_/database/ChatDatabase.E4XArQ/schema/INFORMATION_SCHEMA.NBgcMw.meta
/dataSources/e72ff7ff-96d8-4cdd-ace1-eacf8071a49b/storage_v2/_src_/database/ChatDatabase.E4XArQ/schema/sys.zb4BAA.meta
/dataSources/e72ff7ff-96d8-4cdd-ace1-eacf8071a49b/storage_v2/_src_/database/ChatDatabase.E4XArQ.meta
/dataSources/e72ff7ff-96d8-4cdd-ace1-eacf8071a49b.xml
/dictionaries/apm03.xml
/inspectionProfiles/profiles_settings.xml
/../out
